.container{
    min-height: 100vh;
}

h1,.sv, .abts, .col .abt{
    background: linear-gradient(-30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
}

.abt, .abts{
	letter-spacing: .6rem;
}