<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h4 class="text-center fs-light m-2">Hi, I'm Reneilwe Sesoko</h4>
        <h1 class="display-1 text-center fw-bold mt-0" id="tags">
            Developer.
        </h1>
        <h1 class="display-1 text-center fw-bold" id="tags">
            Designer.
        </h1>

        <div class="d-flex justify-content-center mt-4">
            <button type="button" class="btn btn-light text-dark">Develop</button> &nbsp;
            <button type="button" class="btn btn-outline-light text-light">Designs</button>
        </div>
    </div>

    <div class="row mx-4 text-center text-secondary">
        <div class="col text-uppercase fw-bold abt">
           about reneilwe sesoko
        </div>
        <hr class="line mt-4">
    </div>
    <div class="row mx-5">
        <div class="col">

           <p class="fw-bold fs-3 text-center">Skills</p>
           <p>
               Web Development
           </p>
           <p>
            UI/UX Design
           </p>
           <p>
            Graphic Design
           </p>

        </div>
        <div class="col">
            <p class="fw-bold fs-3 text-center">About</p>
        </div>
    </div>
    
</div>