/* From https://css.glass */
a{
    color: white;
}

ul li .nav-item{
    color: white;
}

nav{
    background: rgba( 255, 255, 255, 0.03 );
    //box-shadow: 0 8px 32px 0 rgba(197, 198, 211, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    //border-radius: 10px
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar-nav{
    letter-spacing: .1rem;
}

span .navbar-toggler{
    color: white;
}

a:hover{
    background: linear-gradient(-30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}